#canvas {
    margin-left: 10px;
    margin-top: 10px;
    background: #ffffff;
    border: thin solid #aaaaaa;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}

#description {
    position: absolute;
    display: none;
    padding: 0px 20px 10px 10px;
    background: rgba(255, 255, 255, 1.0);
    border: thin solid rgba(0, 0, 0, 0.6);
    color: # #eeeeee;
    font-family: Droid Sans, Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}

#description h2 {
    font-weight: normal;
    padding: none;
    margin: none;
}

#description .title {
    font-size: 2em;
    color: # rgba(255, 255, 0, 0.8);
}

#description a:hover {
    color: # yellow;
}

#description a {
    text-decoration: none;
    color: # #cccccc;
    font-size: 3.5em;
}

#description p {
    margin: 5px;
    color: # rgba(65, 65, 220, 1.0);
    font-size: 12pt;
    font-family: Palatino, Arial, Helvetica, sans-serif;
}

.btn-flex {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

.btn-flex .btn:first-child {
    flex-grow: 1;
    text-align: left;
}

.hiddenSkill {
   display: none !important;
}

.caret {
    position: absolute;
    left: 95%;
    top: 45%;
}